main {
    width: 100vw;
    height: 85vh;

    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    margin: 20px 0px;
    padding-left: 20px;
    border-left: 3px solid green;
}

.centrat {
    margin-top: 2em;
}

a {
    color: green;
    text-decoration: none;

    &:hover{
        color: darkgreen;
        font-weight: 600;
    }
}